
<!--<div class="container d-flex gap-5 vh-90 mb-5 p-5">
<table>
<tr>
    <th><a class="btn btn-secondary me-5">USUARIO</a></th>
    <th><a class="btn btn-secondary me-5">ADMINISTRADOR</a></th></tr> 
</table>

</div>-->


<div class="container mt-5">
    <head>
        <h3>Trabajo Grupo 5</h3>
    </head>
    <div class="d-flex justify-content-center gap-5 vh-90 mb-3 p-5">
      <button class="btn btn-secondary">Usuario</button>
      <button class="btn btn-secondary">Administrador</button>
    </div>
  </div>
<div class="container d-flex justify-content-center align-items-center vh-150">
    <div class="card p-4 shadow-lg" style="width: 500px;">
      <h3 class="text-center mb-4">Iniciar Sesión</h3>
<form >

    <div class="mb=5">
        <label for="nombre">Usuario</label>   
    </div>
    <div>
        <input type="text" class="form-control" [(ngModel)]="nombre" name="nombre" id="nombre" placeholder="introduce nombre"/>
    </div>
    <div class="mb=5">
        <label for="clave">Contraseña</label>   
    </div>
   <div>
   <input class="form-control"  [(ngModel)]="clave" type="password" name="clave" id="clave" placeholder="introduce la clave"/>
</div><br>
<div>
    <input class="btn btn-primary w-100" type="submit" name="login" (click)="validar()"/>
</div>
<!--<div class="text-center mt-3">
  <a href="#" class="text-decoration-none">¿Olvidaste tu contraseña?</a>
    
</div>-->
</form>
  